pages:
  stage: deploy
  image: python:latest
  script:
    - pip install -e void_lexer
    - pip install mkdocs-macros-plugin
    - pip install mkdocs-material
    - mkdocs build -f mkdocs-gitlab.yml --site-dir public
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - ~/.cache/
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
